body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(224, 215, 215);
}

/* mediaqueries */
@media (max-width: 767px) {
  /* mobile first style */
  .section {
    grid-area: sc;
  }
  .aside {
    grid-area: sd;
  }

  /* header styling */
  .header {
    background: linear-gradient(90deg, black, rgb(124, 82, 5));
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
  }

  #city {
    font-weight: bold;
    color: rgb(0, 0, 150);
  }

  .header > ul {
    list-style-type: none;
  }
  .header > ul > li {
    display: inline-block;
    margin-left: 10px;
  }
  .header > ul > li > a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  .header > ul > li > a:hover {
    text-decoration: underline;
    text-decoration-color: #666;
    text-decoration-thickness: 5px;
  }

  /* section styling */

  .card {
    display: grid;
    grid-template-columns: repeat(400px, 3fr);
    grid-auto-rows: minmax(50px, auto);
    border: 1px solid rgb(231, 224, 224);
    padding: 20px;
  }
  .card > img {
    width: 100%;
    height: auto;
  }

  /* btn style */
  .btn {
    background-color: #293370;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 25%;
  }

  .btn:hover {
    background-color: #010e66;
  }

  /* mobile style aside hide */
  @media (max-width: 767px) {
    .aside {
      display: none;
    }
  }

  /* footer style */
  .footer {
    background: linear-gradient(180deg, rgb(124, 82, 5), black);
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(130px, 1fr);
    grid-template-rows: 150px;
    justify-content: first baseline;
    margin: 0;
    box-sizing: border-box;
  }
  .footerCard > input[type="text"],
  input[type="email"] {
    display: block;
    width: 93%;
    font-size: 16px;
    margin-top: 10px;
    padding: 13px;
    border-radius: 5px;
  }

  .footerCard > .btn-submit {
    display: block;
    width: 93%;
    margin-top: 10px;
  }
  .footer > .links > ul {
    list-style-type: none;
  }
  .footer > .links > ul > li {
    margin-top: 5px;
  }
  .footer > .links > ul > li > a {
    color: white;
    margin-top: 5px;
  }
  .footer > .links > ul > li > a:hover {
    color: green;
    margin-top: 5px;
  }
  .footer > .footer-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}
